# git+https://github.com/huggingface/transformers.git@refs/pull/40546/head
datapizza-ai
datapizza-ai-clients-openai-like
datapizza-ai-tools-web-fetch
huggingface-hub
torch
llama-cpp-python
trafilatura
beautifulsoup4
requests
fastapi
transformers
diffusers
accelerate
VibeVoice
# starlette_context # for windows or linux