datapizza-ai
datapizza-ai-clients-openai-like
ddgs
huggingface-hub
torch
llama-cpp-python
trafilatura
beautifulsoup4
requests
fastapi
transformers
diffusers
accelerate
# starlette_context # for windows or linux